<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7996a0">  <td>20/03/05 21:54:13</td>   <td>0</td> <td title="&gt;&gt;Components.beforeSuite()[pri:0, instance:com.utility.Components@cc285f4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1833638914</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>20/03/05 21:54:48</td>   <td>35559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home.home()[pri:0, instance:com.controllers.Home@55f3ddb1]">home</td> 
  <td>main@1833638914</td>   <td></td> </tr>
</table>
